$green : #2ecc71;
$red : #e74c3c;
$yellow : #f1c40f;
$grey: #aaa;


$warning: #f1c40f;
$danger: #e74c3c;
$primary: #3498db;
$secondary: #34495e;
$info: #f1c40f;
$success: #2ecc71;


$background: #f5f5f5;
